<div>
  <div class="calculator-container">
    <input
      class="counter-input"
      type="text"
      [ngModel]="counterProp"
      (ngModelChange)="changeVal($event)"
      [class.input-border-style]="counterProp < 0 || counterProp > 100"
    />
    <app-plus-minus-buttons></app-plus-minus-buttons>
  </div>
</div>
