:host {
  height: 100%;
  width: 100%;
  display: block;
}

.input-range {
  height: 20px;
  width: 100%;
  display: block;
  background: #d3d3d3;;
  border-radius: 7px;
}

.slider-runnable-track {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
}

.slider-thumb {
  height: 25px;
  width: fit-content;
  position: absolute;
  top: -3px;
  z-index: 1;
  display: block;
  background: #4CAF50;
  color: #f9fcff;
  padding: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.values-container {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 0 0 15px;
}

.triangle {
  width: 25px;
  height: 23px;
  position: absolute;
  background: #607D8B;
  transform: rotate(45deg);
  left: 2px;
  top: 28px;
}

.second-triangle {
  left: 13px;
}

.round {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 30px;
  left: -6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #607D8B;
  border-radius: 70%;
}

.second-round {
  left: 5px;
}