<div class="values-container">
  <span class="range-value">{{ minValue }}</span>
  <span class="range-value">{{ maxValue }}</span>
</div>
<div class="input-range">
  <div class="slider-runnable-track">

    <div
      #firstThumb
      [class.holded]="clickedElem === firstThumb"
      class="slider-thumb first-thumb"
      (mousedown)="downEvent($event)"
      [style.left.px]="firstLeftPx"
    >
      {{ firstThumbValue | number : '1.0-0' }}
      <div class="drop-of-water">
        <div class="triangle"></div>
        <div class="round">
          <span>
            {{ firstThumbValue | number : '1.0-0' }}
          </span>
        </div>
      </div>
    </div>

    <div
      #secondThumb
      class="slider-thumb second-thumb"
      [class.holded]="clickedElem === secondThumb"
      (mousedown)="downEvent($event)"
      [style.left.px]="secondLeftPx"
    >
      {{ secondThumbValue | number : '1.0-0' }}
      <div class="drop-of-water">
        <div class="triangle second-triangle"></div>
        <div class="round second-round">
          <span>
            {{ secondThumbValue | number : '1.0-0' }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>