.product-name {
  font-family: 'Lato', sans-serif;
  color: #101010;
  text-decoration: none;
}

.share-button {
  background: linear-gradient(#e8e6e6, #f7f7f7, #e8e6e6);
  border: 1px solid #868686;
  border-radius: 3px;
  cursor: pointer;
}