<div *ngFor="let product of products, index as productId">
  <h3>
    <a class="product-name" [title]="product.name + 'details'" [routerLink]="productId">
      {{ product.name }}
    </a>
  </h3>

  <p class="description-part" *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <button class="share-button" (click)="share()" title="Share">
    <i class="material-icons">
      share
    </i>
  </button>

  <app-product-alerts
    [product]="product"
    (notify)="onNotify()">
  </app-product-alerts>
</div>
