:host {
  display: flex;
  height: 100%;
  width: 100%;
}

.main-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content-container {
  flex: 1;
  font-family: 'Open Sans', sans-serif;
  padding: 40px 50px;
}