<app-back-button [routingLink]="pathName" ></app-back-button>

<p>Product Details</p>

<div *ngIf="product">
    <h3> {{ product.name }} </h3>
    <h3> {{ product.description }}</h3>
    <h3> {{ product.price | currency }}</h3>
</div>
