:host {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.plus-minus-buttons {
  background: linear-gradient(#e8e6e6, #f7f7f7, #e8e6e6);
  border: 1px solid #868686;
  border-radius: 3px;
  cursor: pointer;
}