<button class="plus-minus-buttons" (click)="onPlus()" title="Plus">
  <i class="material-icons">
    add
  </i>
</button>
<button class="plus-minus-buttons" (click)="onMinus()" title="Minus">
  <i class="material-icons">
    remove
  </i>
</button>