  <div class="menu-container" [class.opened]="opened">
    <div class="overflow-container">
      <app-menu-icon (click)="toggleOpenState()"></app-menu-icon>
      <menu class="menu">
        <p class="tutorial-paragraph">Tutorials</p>
        <a class="products-list-item" routerLink="product-list" >Product List</a>
        <a class="products-list-item" routerLink="counter-input" >Counter</a>
        <a class="products-list-item" routerLink="two-point-range-slider" >Range Slider</a>
        <a class="products-list-item" routerLink="range-slider-version2" >Range Slider Version 2</a>
      </menu>
    </div>
</div>