:host {
  display: flex;
  width: fit-content;
  z-index: 2;
}

.overflow-container {
  width: 100%;
  overflow: hidden;
  margin: 50px 25px;
}

.menu-container {
  display: flex;
  justify-content: center;
  background: #7ea4b7;
  width: 50px;
  height: 100%;
  position: relative;
  transition: 400ms;
}

.menu-container.opened {
  width: 250px;
}

.menu {
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 20px 45px;
  white-space: nowrap;
}

.tutorial-paragraph {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 0 15px;
}

.products-list-item {
  font-family: 'Lato', sans-serif;
}

.products-list-item, .tutorial-paragraph {
  color: #dee1e4;
  padding: 5px;
  text-decoration: none;
}

app-menu-icon {
  position: absolute;
  top: 0;
  right: 0;
}