:host {
  width: 100%;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.range-slider-item {
  width: 100%;
  display: inline-block;
}

.range-slider-item,
.range-slider-item::-webkit-slider-runnable-track,
.range-slider-item::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: none;
  outline: none;
  margin: 0;
}

.range-slider-item::-webkit-slider-thumb {
  height: 25px;
  width: 25px;
  position: relative;
  background: #4CAF50;
  border-radius: 30%;
  margin-top: -3px;
  cursor: pointer;
  z-index: 1;
}

.range-slider-item::-webkit-slider-runnable-track {
  height: 20px;
  background: #d3d3d3;
  border-radius: 5px;
}

.second-range-slider::-webkit-slider-runnable-track {
  background: none;
}

.second-range-slider {
  position: absolute;
  top: 0;
  left: 0;
}

.values-container {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
