<input 
  type="range"
  class="first-range-slieder range-slider-item"
  [min]="minValue"
  [max]="maxValue"
  [step]="step"
  [ngModel]="minRangeProp"
  (ngModelChange)="onFirstSliderMove($event)"
>
<input
  type="range"
  class="second-range-slider range-slider-item"
  [min]="minValue"
  [max]="maxValue"
  [step]="step"
  [ngModel]="maxRangeProp"
  (ngModelChange)="onSecondSliderMove($event)"
>
<div class="values-container">
  <span class="range-value">{{ shownMinProp }}</span>
  <span class="range-value">{{ shownMaxProp }}</span>
</div>